@keyframes rotate{
    0% {transform: translate(-42px,0) rotate(10deg);}
    50% {transform: translate(-42px,0) rotate(20deg);}
    100% {transform: translate(-42px,0) rotate(10deg);}
}
@keyframes rotate-r{
    0% {transform: scale(-1,1) translate(-26px,0) rotate(10deg);}
    50% {transform: scale(-1,1) translate(-26px,0) rotate(20deg);}
    100% {transform: scale(-1,1) translate(-26px,0) rotate(10deg);}
}
@keyframes translate{
    0% {left: 3px;}
    50% {left: 6px;}
    100% {left: 3px;}
}
@keyframes resize{
    0% {height: 4px;}
    50% {height: 3px;}
    100% {height: 4px;}
}
@keyframes extend{
    0% {height: 14px;}
    50% {height: 23px;}
    100% {height: 14px;}
}
@keyframes open{
    0% {
        height: 24px;
        border-radius: 34px / 0px 0px 24px 24px;
        }
    50% {
        height: 17px;
        border-radius: 34px / 0px 0px 17px 17px;
        }
    100% {
        height: 24px;
        border-radius: 34px / 0px 0px 24px 24px;
        }
}